.right-sidebar {
  background-color: #f27f1b;
  display: flex;
  flex-direction: column;
  padding: 50px 25px;
  color: black;
}

.right-sidebar__achievements {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
