.app {
  max-width: 1440px;
  margin: 0;
  background-color: rgb(235, 235, 235);
  font-family: "Gabarito", sans-serif;
  min-height: 100vh;
}

.app__content {
  display: grid;
  grid-template-columns: 240px 3fr;
  position: relative;
}

.app__landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  /* Why is this here? */
  .app {
    padding-bottom: 72px;
  }

  .app__content {
    grid-template-columns: 1fr;
  }
}
