.app {
  max-width: 1440px;
  margin: 0;
  background-color: rgb(235, 235, 235);
  font-family: "Gabarito", sans-serif; /* Custom font */
}

.app__content {
  display: grid;
  grid-template-columns: 240px 3fr;
  min-height: 780px;
}
