.profile-nav {
  display: flex;
  gap: 10px;
}

.profile-nav__tab {
  font-size: 24px;
  border-radius: 10px 10px 0 0;
  z-index: 1;
  position: relative;
  top: 1px;
  border: 1px solid black;
}

.profile-nav__tab:hover {
  cursor: pointer;
  background-color: gold;
}

.profile-nav__tab:focus {
  background-color: gold;
  border-bottom: none;
  top: 2px;
}

.profile-nav__tab:last-of-type {
  margin-left: auto;
}

.profile-nav__tab_active {
  background-color: gold;
  border-bottom: none;
  top: 2px;
}
