.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow-x: hidden;
  transition: grid-template-columns 1s ease;
  position: relative;
}

.home:has(.right-sidebar--closed) {
  grid-template-columns: 1fr 0fr;
}

.home__title {
  margin: 36px 0 10px 25px;
}

.home__add-task {
  margin: 0 0 20px 25px;
  font-size: 14px;
  color: #3d8b40;
  cursor: pointer;
}

.home__task-gallery {
  margin: 0 30px;
  height: calc(100vh - 200px);
  overflow-y: scroll;
}
