.shop {
  display: grid;
  grid-template-columns: 1fr 350px;
}

.shop__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop__title {
  font-size: 32px;
  margin: 36px auto 0 25px;
}

.shop__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop__username {
  margin: 20px;
  font-size: 28px;
}

.shop__image {
  width: 500px;
  height: 550px;
  background-color: black;
}

.shop__gems {
  font-size: 24px;
  margin-right: auto;
}

.shop__store {
  background-color: rgb(119, 119, 119);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.shop__store-title {
  font-size: 32px;
  margin: 30px auto 0 30px;
}

.shop__store-item {
  width: 168px;
  height: 178px;
  background-color: black;
}
