.login__title {
  font-size: 32px;
  margin: 0 0 15px 0;
}

.login__content {
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.login__close-btn {
  background-image: url(../../../assets/icons/close-btn.svg);
  position: absolute;
  border: none;
  background-color: transparent;
  height: 20px;
  width: 20px;
  top: 20px;
  right: 28px;
}

.login__close-btn:hover {
  cursor: pointer;
  opacity: 50%;
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login__input {
  font-size: 18px;
  padding: 5px 10px;
}

.login__error {
  color: red;
  margin: 0;
}

.login__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login__submit,
.login__switch {
  padding: 5px 10px;
  background: #000;
  color: white;
  border-radius: 5px;
}

.login__submit:hover,
.login__switch:hover {
  cursor: pointer;
}

.login__submit_disabled {
  opacity: 0.5;
}
