.achievement__profile {
  border: 1px solid black;
  background-color: #5483bf;
  padding: 15px;
}

.achievement__home {
  background-color: red;
  padding: 15px;
  border: 1px solid black;
}

.achievement__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.achievement__text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.achievement__title {
  font-size: 24px;
  margin: 0;
}

.achievement__completed {
  color: rgb(55, 236, 10);
}

.achievement__reward {
  color: #f2ca52;
}

.achievement__completed,
.achievement__reward {
  margin: 0 0 0 15px;
  font-size: 20px;
}

.achievement__task {
  margin: 0;
  font-size: 18px;
}

.achievement__progress {
  font-size: 36px;
  margin: 0;
}

.achievement__progress-bar {
  height: 8px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
}

.achievement__progress-bar_progress {
  background-color: rgb(31, 172, 29);
  height: 8px;
  width: var(--progress, 0%);
}

.achievement__progress-bar_incomplete {
  background-color: rgb(159, 159, 159);
  width: var(--progress, 0%);
  height: 8px;
}

.achievement__progress-bar_completed {
  background-color: gold;
  width: 100%;
}
